main > span[class=required]{
    color: #DD1155;
}
main > input{
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
main > button{
    cursor: pointer;
    padding: .5em;
    background: #EFD9CE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #25283D;
}
input{
    color: #25283D;
}
body{
    background: #CEA2AC;
    color: #EFD9CE;
    border: .2em solid #A675A1;
    border-radius: .5em;
    padding: .5%;
    margin-left: 10%;
    margin-right: 10%;
}
header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(126, 13, 126);
    border-radius: .75em;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #25283D;
    display: inline-block;
    width: 6em;
    text-align: right;
}
html{
    background: #25283D;
}
@media only screen and (max-width:600px){
    body{
        margin: 0px 3%;
    }
}